*{
    padding: 0px;
    margin: 0px auto;
    box-sizing: content-box;
}
.container{
    /* height: 750px;
    width: 1000px; */
    /* background-color: aquamarine; */
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
nav {
    height: 40px;
    position: relative;
    width: 100%;
    /* background-color: blue; */
}
nav .logo{
    height: 30px;
    width: 200px;
    display: flex;
    position: absolute;
}
nav .logo img{
    width: 50px;

}
nav .menu{
    position: absolute;
    width: 350px;
    display: flex;
    gap: 10px;
    /* background-color: brown; */
    right: 40px;
    top: 10px;
    font-size: 13px;
}
nav  .menu li{
    list-style-type: none;
}
nav  .menu li a:hover{
    background-color: chartreuse;
}
nav  .menu li a{
    text-decoration: none;
    /* background-color: blueviolet; */
    padding: 10px;
}
header{
    position: relative;
}
header img{
    margin: 15px 15px auto 15px;
     width: 95%; 
   
}
header .title{
    position: absolute;
    top: 50px;
    left: 60px;
}
.content1{
    width: 80%;
    height: 350px;
    /* background-color: chocolate; */
    display: flex;
}
.content1 .img {
    width: 40%;
    height: 350px;
}
.content1 .img img{
    width: 90%;
    background-size: contain;
    margin-top: 20px;
    margin-left: 30px;
}
.content1 form{
    width: 60%;
    /* background-color: chartreuse; */
    height: 350px;
}
.content1 form .the1{
    padding-left: 25px;
    margin-left: 15px;
    border-left: 2px #7db532 solid;
}
.content1 form table{
    width: 90%;
    border-collapse: separate;
    border-spacing: 15px;
   background-color: #f3f3f3;;
}
.content1 form table input{
    height: 30px
    
}
.content2{
    display: flex;
    width: 80%;
    height: 100px;
    /* background-color: darkgray; */
    position: relative;
}
.content2 .left{
    width: 45%;
    background-color:  #f3f3f3;
    height: 80px;
    margin: 10px;
    
   
   
    
}
.content2 .right{
    width: 45%;
    background-color: #f3f3f3;
    height: 80px;
    margin: 10px;
    margin-left: 40px;
    }
.content2 .left img{
    width: 40px;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
}
.content2 .left .noidung1{
    margin-top: 10px;
     margin-left: 50px; 
  /* background-color: red; */
 
 
}
.content2 .left .noidung1 h5{
 
    /* background-color: blue; */
    
    
}
.content2 .left .noidung1 .huy1{
  
    /* background-color: rgb(155, 162, 170); */
    margin-top: 10px;
   
   
}
.content2 .right img{
    width: 40px;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
}

.content2 .right .noidung2{
    margin-top: 10px;
    margin-left: 50px; 
  /* background-color: red; */
 
 
}
.content2 .right .noidung2 h5{
    
    /* background-color: blue; */
  
}
.content2 .right .noidung2 .huy2{
   
    margin-top: 10px;
    /* background-color: beige; */
   
}
footer{
    text-align: center;
    margin-top: 10px;
    width: 95%;
    height: 30px;
    background-color: #f3f3f3;
}
